@import "../../../styles/variables.scss";

.customer-container {
  padding: 95px 20px;
  background: $secondaryWhite;

  &__header-content {
    display: flex;
    padding-bottom: 25px;

    &__heading {
      display: inline-block;
      float: left;
      font-size: 36px !important;
      @include PageHeading;
      display: flex;
      align-items: center;
      margin-left: 17px;
    }

    &__button {
      font-size: 14px;
      display: inline-block;
      float: right;
      right: 20px;
      padding: 15px;
    }
  }

  &__table-content {
    display: block;
    background: $White;
    border-radius: 3px 3px 0px 0px;
  }

  &__table {
    padding: 0px;
    text-align: left;
    thead {
      box-shadow: inset 0px 1px 0px $secondaryLightGrey;
      th {
        padding: 15px 0px 15px 17px;
      }
    }
    tbody {
      .active-icon {
        @include greenStatusIcon;
      }

      .inactive-icon {
        @include redStatusIcon;
      }
      td {
        padding: 15px 0px 15px 17px;
        cursor: pointer;
      }
    }
  }
}

.overflow {
  overflow: auto;
  height: 400px;
}
