// Styles

// Import Main styles for this application
@import '../styles/style.scss';

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #E5E5E5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:$secondaryBrightGreen;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home_page, .login_page{
  margin: 0;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  position: relative;
  z-index: 3;
}