@import "../../styles/variables.scss";

.forgot-password-page {
  &__heading {
    padding: 20px 20px 20px 0;
  }

  &__sub-heading {
    @include FontMontserratAndColorWhite;
    padding: 0 0 20px 0;
    font-weight: 500;
    font-size: 18px;
    text-align: start;
    line-height: 24px;
  }

  &__or-text {
    @include FontMontserratAndColorWhite;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 318px;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__logo-container {
    flex-basis: 20%;
    padding-top: 3%;
  }
  &__logo-img {
    /*to be updated.*/
    color: transparent;
  }

  &__forgot-password-form {
    padding: 50px;
    margin-left: 10%;
    flex-basis: 50%;

    &__emailid-field {
      padding: 0 20px 20px 0;
    }

    &__mobile-number-field {
      padding: 0 20px 20px 0;
    }

    &__form-fields {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__submit-button {
      margin-top: 6%;
    }
    &__login-redirect {
      width: 318px;
      color: $darkgrey;
      text-align: right;
      padding: 10px;
      @include Body_Copy_Main;
      line-height: 15px;
      align-items: center;
      text-align: right;
      color: $darkgrey;
    }
    .redirect-login {
      color: $primaryWhite;
    }
    .static {
      border: 1px solid $lightgrey;
      background-color: transparent;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      min-width: 19.875rem;
    }
  }
}
.swal2-popup {
  width: 30%;
}
.swal2-title {
  font-size: 15px;
}
.swal2-confirm {
  padding: 3px 12px;
  font-size: 12px;
}
.swal2-cancel {
  padding: 3px 12px;
  font-size: 12px;
}

.swal2-container.swal2-center > .swal2-popup {
  background-color: $grey;
  color: $primaryWhite;
}

.input-text-field .multiple-icons {
  color: #fff;
}
