@import "../../styles/variables.scss";

.page-container-details {
  padding: 95px 10px;
  background-color: $lightgrey;

  &__header-content {
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;

    &__heading {
      float: left;
      display: flex;
      align-items: center;
      @include heading_3;

      float: left;
      font-size: 36px !important;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      color: $primaryBlack;
      display: flex;
      align-items: center;
    }
  }
}

.details-container {
  background-color: $White;
  width: 100%;
  margin: 1%;
  padding: 1.5%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
  border-radius: 3px;

  &__details-container-header {
    position: relative;

    &__heading {
      @include SubHeading2;
      width: 100%;
      display: flex;
    }

    &__collapse-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &__edit-icon {
      position: absolute;
      top: 10px;
      right: 30px;
    }
  }
}

.card-container {
  background-color: $White;
  //width: 30%;
  margin: 2%;
  padding: 3.5%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;

  input {
    width: 100% !important;
  }

  &__file-upload-container {
    &__heading {
      @include image-heading;
      text-align: center;
    }

    
  }

  &__image-container {
    padding: 20px 0px;
    text-align: center;

    &__image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      
    }

    &__heading {
      @include image-heading;
      text-align: center;
    }
  }

  &__heading {
    @include SubHeading2;
    width: 100%;
    display: flex;
  }

  .greenButton {
    position: relative;
    @include greenButton;
  }

  .add-button {
    width: 318px;
  }
}

.details-card-containers {
  &__cars-container {
    &__cars-details {
      &__table-info {
        table {
          input {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
}
select{
  background-color:$White ;
  padding: 10px;
}
.status-dropdown {
  height: 40px;
  @include status-dropdown;
  color: $black;
  border: 1px solid $lightgrey;
}

.line {
  border: 1px solid #bcbcbc;
  margin: 36px 0px;
}

.card-container__file-upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container__file-upload-container__file-upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  cursor: pointer;
  background-color: #f5f7f8;
  outline: 8px solid #f5f7f8;
  border: 2px dashed $darkgrey;
  border-radius: 4px;
  padding: 57px 32px;
  color: $darkgrey;
  margin: 1px 0px 28px;
}

.card-container__file-upload-container__file-upload {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.outer{
  padding: 18px;
}

.card-container__image-container{
  width: 170px;
  height: 200px;
}
.card-container__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgload .loader{
  top: 60%;
}

@media only screen and (min-width: 1500px) {
  .card-container__image-container{
    width: 300px;
    height: 330px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  
  .card-container__image-container{
    width: 140px;
    height: 170px;
  }
}