@import "../../styles/variables.scss";
.modal-title {
  font-size: 20px !important;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: $primaryBlack;
}
